
  .password2 {
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 0.8rem;
  }
  .password1 {
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 0.8rem;
  }
  #password {
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
  }
  a {
    text-decoration: none !important;
  }
  .log-box {
      color: blue;
  }
  .h1,
  .log-p{
      color: black;
  }
  .btn {
    margin-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
  }
  .btn2 {
    margin-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
  }
  .log-in {
    margin: auto 10px auto 20px;
    text-align: center;
    background-color: white;
    color: #6161b3;
  }
  .form-control {
    margin-top: 20px;
    width: 25rem;
  }
  #checkbox {
    margin-right: 5px;
  }
  .log-elements {
    display: flex !important;
    flex-direction: column !important;
  }

  form {
    margin: auto;
    padding-left: 20px;
  }

  .form-popup-login {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;
    z-index: 9;
    opacity: 1;
    background-color: white;
  }
  